.not {
    border-radius: 0rem;
}

.s {
    border-radius: 0.25rem;
}

.m {
    border-radius: 0.5rem;
}

.l {
    border-radius: 1rem;
}

.xl {
    border-radius: 2rem;
}

.xl2 {
    border-radius: 4rem;
}

.xl3 {
    border-radius: 8rem;
}

.xl4 {
    border-radius: 16rem;
}

.xl5 {
    border-radius: 32rem;
}

.xl6 {
    border-radius: 64rem;
}

.full {
    border-radius: 100%;
}
