:root {
    --bg-color: #d4d4d4;
    --inverted-bg-color: #001529;
    --primary-color: #1677ff;
    --inverted-primary-color: #04ff04;
    --secondary-color: #0e5bc5;
    --inverted-secondary-color: #049604;

    --text-color: var(--inverted-bg-color);
    --hint-color: #95b0b8;
    --cancel-color: #ee5e5e;
    --save-color: #39d665;
    --icon-color: #5ED3F3;
    --accent-color: #00c8fffa;

    // skeleton
    --skeleton-color: var(--inverted-bg-color);
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg-color: #fff;

    // card
    --card-bg-color: #d5d5d7;

    // listbox
    --listbox-bg-color: #d5d5d7;
}
