.bg_color {
    background-color: var(--bg-color) !important;
}

.inverted_bg_color {
    background-color: var(--inverted-bg-color) !important;
}

.bg_color_accent {
    background: var(--bg-color-accent) !important;
}

.primary_color {
    background-color: var(--primary-color) !important;
}

.inverted_primary_color {
    background-color: var(--inverted-primary-color) !important;
}

.secondary_color {
    background-color: var(--secondary-color) !important;
}

.inverted_secondary_color {
    background-color: var(--inverted-secondary-color) !important;
}

.text_color {
    color: var(--text-color) !important;
}

.hint_color {
    color: var(--hint-color) !important;
}

.cancel_color {
    color: var(--cancel-color) !important;
}

.save_color {
    color: var(--save-color) !important;
}

.icon_color {
    color: var(--icon-color) !important;
}

.accent_color {
    color: var(--accent-color) !important;
}

.skeleton_color {
    color: var(--skeleton-color) !important;
}

.skeleton_shadow {
    color: var(--skeleton-shadow) !important;
}

.code_bg_color {
    color: var(--code-bg-color) !important;
}

.card_bg_color {
    color: var(--card-bg-color) !important;
}

.listbox_bg_color {
    color: var(--listbox-bg-color) !important;
}
