* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div, img, ul {
  display: flex;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: url(../assets/img/relations.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
